*{
	padding:0;
	margin:0;
	text-decoration:none;
	box-sizing:border-box;
	font-family: 'Comic Neue', cursive;
}

.container{
	max-width:1600px;
	width:100%;
	margin:auto;
}

.content{
	max-width:1400px;
	width:94%;
	margin:auto;
}

header{
	background:url(../images/banner.jpg) no-repeat;
	background-position:top center;
	background-size:cover;
	height:600px;
	position:relative;
}

.header_overlay{	
	background:rgba(0,0,0,0.5);
	height:100%;
}

.top_header{
	display:flex;
	justify-content:flex-end;
	align-items:center;
	padding-top:30px;
	position:relative;
}

@keyframes animateLogo{
	from{
		transform:scale(0.8);
		
	}
	
	to{
		transform:scale(1.5);
		color:#ff0000;
		
	}
}

.top_header h2{
	font-size:36px;
	color:#fff;
	text-transform:uppercase;
	animation-name:animateLogo;
	animation-duration:3s;
	animation-iteration-count:infinite;
	animation-timing-function:linear;
	position:absolute;
	top:25px;
	left:0;
}

.top_header ul li{
	display:inline-block;
	padding:10px 30px;
}

.top_header ul li:last-child{
	padding-right:0;
}

.top_header ul li a{
	color:#fff;
	text-transform:uppercase;
}
.header_info{
	max-width:550px;
	width:90%;
	text-align:center;
	margin:30px auto;
	position:relative;
	top:15%;
}
.header_info h2{
	font-size:50px;
	color:#fff;
	padding:20px 0;
}
.header_info p{
	color:#eee;
	font-size:20px;
	line-height:26px;
	margin-bottom:30px;
}
.header_info a{
	background:#ec0404;
	color:#fff;
	padding:10px 30px;
	text-transform:uppercase;
}
.lectus{
	max-width:1100px;
	width:90%;
	margin:40px auto;
	display:flex;
	justify-content:space-between;
	align-items:flex-start;
}
.lectus div:first-child{	
	width:40%;
} 
.lectus div:last-child{
	width:55%;
}
.lectus div h2{
	font-size:40px;
	color:#333;
	line-height:48px;
	margin-bottom:30px;
}
.lectus div h3{
	color:#948d8d;
	font-size:24px;
	line-height:30px;
	text-transform:uppercase;
}
.lectus div p{
	color:#333;
	font-size:18px;
	margin-bottom:25px;
	text-align:justify;
}

.fusce{
	background:#e8e8e8;
	padding:35px 0;
}

.fusce h2{
	font-size:34px;
	color:#333;
	line-height:40px;
	text-align:center;
}
.fusce h3{
	font-size:22px;
	color:#948d8d;
	line-height:33px;
	margin-bottom:20px;
	text-align:center;
	text-transform:uppercase;
}

.fusce-content{
	display:flex;
	justify-content:space-between;
	align-items:center;
	margin:30px auto 0;
}
.fusce-content div{
	width:49%;
}
.fusce-content div figure{
	box-shadow:0 0 10px #948d8d;
	margin-bottom:30px;
}
.fusce-content div figure img{
	width:100%;
}
.fusce-content div figure figcaption{
	text-align:center;
	padding:13px 0;
	background:#fff;
	color:#333;
}
.btn-red{
	background:#ec0404;
	padding:10px 25px;
	color:#fff;
	font-size:18px;
	float:right;
	border-radius:3px;
}
.btn-black{
	background:#333;
	padding:10px 25px;
	color:#fff;
	font-size:18px;
	float:left;
	border-radius:3px;
}
.mauris h2{
	font-size:34px;
	color:#333;
	line-height:40px;
	
}
.mauris h3{
	font-size:22px;
	color:#948d8d;
	line-height:33px;
	margin-bottom:20px;	
	text-transform:uppercase;
}
.mauris{
	margin:30px auto;
}

.mauris-content{
	display:flex;
	justify-content:space-between;
	align-items:center;
	flex-wrap:wrap;
	margin:30px auto;
}
.col1, .col2{
	width:48%;
}
.row{
	display:flex;
	justify-content:space-between;
	align-items:center;
	flex-wrap:wrap;
	margin-bottom:30px;
}
.row div{
	width:64%;
	margin-bottom:30px;
}
.row img{
	border-radius:50%;
	border:3px solid #ddd;
}

.row img:hover{
	transform:rotate(360deg);
	transition:all 3s;
	border:3px solid #ff0000;
}

.col1 h3{
	font-size:22px;
	color:#333;
	margin-bottom:10px;
	text-align:right;
	line-height:27px;
}
.col1 h4{
	font-size:20px;
	color:#948d8d;
	margin-bottom:10px;
	text-align:right;
	line-height:27px;
}
.col1 p{
	text-align:right;
}
.col2 h3{
	font-size:22px;
	color:#333;
	margin-bottom:10px;
}
.col2 h4{
	font-size:20px;
	color:#948d8d;
	margin-bottom:10px;
}
.prefooter{
	background:url(../images/banner.jpg) no-repeat;
	background-position:center center;
	background-size:cover;
	height:300px;
	position:relative;
}
.prefooter_overlay{	
	background:rgba(0,0,0,0.5);
	height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.prefooter_overlay h2{
	font-size:40px;
	color:#fff;
	padding:20px 0;
}
.prefooter_overlay h3{
	color:#eee;
	font-size:20px;
	line-height:26px;
	margin-bottom:30px;
}
.prefooter_overlay a{
	background:#ec0404;
	color:#fff;
	padding:10px 30px;
	text-transform:uppercase;
}
footer{
	background:#e8e8e8;
	padding:30px 0;
	text-align:center;
}
.social a i{
	font-size:30px;
	color:#333;
	padding:0 20px;
	
}
.social a i:hover{
	transform:rotateX(360deg);
	color:#ec0404;
	transition:all 3s;
	
}
.copyright{
	color:#333;
	font-size:18px;
	margin:25px auto;
	word-spacing:10px;
}

.open-mobile-menu {
	position:absolute;
	top:0;
	right:10px;
	width:60px;
	display:none;
}

.open-mobile-menu span{
	display:block;
	width:100%;
	height:2px;
	background:#fff;
	margin-top:10px;
}


@media screen and (max-width:1050px){
	.row img{
		width:150px;
	}
}

@media screen and (max-width:820px){
	.col1, .col2 {
       width: 100%;
	}
}

@media screen and (max-width:480px){
	.open-mobile-menu{
		display:block;
	}
	
	nav{
		display:none;
		position: absolute;
		top: 75px;
		left: 0;
		right: 0;
		background: #333;
		z-index: 12;
	}
	
	.open-mobile-menu:hover + nav{
		display:block;
	}
	
	.top_header ul li{
		display:block;
		border-bottom:1px solid #fff;
	}
	
	.top_header{
		position:static;
	}
	
	.top_header h2{
		position:static;
		margin:auto;
	}
	
	header{
		height:470px;
	}
	
	.header_info{
		top:7%;
	}
	
	.lectus{
		flex-wrap:wrap;
	}
	
	.lectus div:first-child {
		width: 100%;
		margin-bottom:30px;
	}
	
	.lectus div:last-child {
		width: 100%;
	}
	
	.fusce-content{
		flex-wrap:wrap;
	}
	
	.fusce-content div {
		width: 100%;
		margin-bottom:30px;
	}
	
	.btn-red{
		float:none;
		display: block;
		width: 50%;
		margin:auto;
		text-align:center;
	}
	
	.btn-black{
		float:none;
		display: block;
		width: 50%;
		margin:auto;
		text-align:center;
	}
	
	.row div {
		width:100%;
	}
	
	.row img{
		margin:auto;
	}
	
	.col1 h3{
		text-align:left
	}
	
	.col1 h4{
		text-align:left
	}
	
	.col1 p{
		text-align:left
	}
	
	.col2 .row{
		flex-direction:column-reverse;
	}
}

@media screen and (max-width:340px){
	
	.header_info {
		top: 0%;
	}
	
	.header_info h2{
		font-size:40px;
	}
	.btn-red {
		width:70%;
	}
	
	.btn-black {
		width:70%;
	}
}
